.box{
	position: relative;overflow: hidden;height: 300px;width: 300px;
}
.box img{
	width: 100%;height: 100%;
}
.box .bg{/*缩略图*/
	display: block;filter: blur(15px);transform: scale(1);
}
.box .show_img{/*加载完成显示的实际图*/
	position: absolute;opacity: 0;top: 0;left: 0;transition: opacity 1s linear;
}